body{
    background-image: url(../assets/what-the-hex-dark.png);
    color: rgb(255, 255, 255);  
}
.spanNumber{
    color: rgb(255, 255, 255);
    margin: 5px;    
}
nav{
    height: 12vh;
    background-color: #8b888888;
}
#searchSite{
    height: 5vh;
    margin: 5vh;
}
#cardsHolder{
    display: inline-block;
}
#status{
    margin: 5vh;
}